.chat-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  background-color: #0a061ba4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  align-self: center;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  width: fit-content;
  max-width: 75%;
}

.chat-message.user {
  background-color: #0000008c;
  color: white;
  align-self: flex-end;
  text-align: right;
}

.chat-message.model {
  background-color: #5b11746b;
  color: white;
  align-self: flex-start;
  text-align: left;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffffff2f;
  border-radius: 5px;
  outline: none;
}

.chat-input button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  width: 25%;
  font-size: 16px;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.texto {
  white-space: pre-wrap;
}

.letras {
  margin-top: 8px;
  margin-bottom: 8px;
}

.bold {
  font-weight: bold;
}