.recommendation-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.recommendation-form {
  background: linear-gradient(to bottom, #22204d, #23214d);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin-right: 20px;
  box-shadow: 0 3px 8px rgba(95, 94, 94, 0);
  font-size: 15px;
}
.recommendation-form:hover {
  background: linear-gradient(to bottom, #22204d, #23214d);
  filter: brightness(110%);
}

.recommendation-form h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.recommendation-form p {
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.form-group {
  margin-bottom: 15px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group select {
  width: 50%;  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family:"Outfit", sans-serif ;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0);
}